@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova/proximanova-webfont.ttf);
}
/*global*/
* {
  padding:0;
  width: 900px;
  margin: 0 auto;
}
body {
  font-family:'ProximaNova';
  font-size:1rem;
}
button {
  background:#26DEBD;
  border:0;
  color:#FFF;
  cursor:pointer;
  font-family:'ProximaNova';
  font-size:1rem;
  padding:1rem;
}
fieldset {
  color:#FFF;
  padding:1rem;
}
fieldset legend {
  border:1px solid #FFF;
  padding:0 .5rem;
}
label {
  display:inline-block;
  text-align:left;
  vertical-align:middle;
  width:200px;
  margin-bottom: .5rem;
}
select {
  background:#FFF;
  text-indent: 0.01px;
  text-overflow: "";
}
p {
  padding:1rem;
}
h1 {
  font-family:'ProximaNova';
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h2 {
  padding-bottom: 2rem;
  font-size: 1rem;  
}
/*main form*/
main input,
select,
textarea {
  background:#FFF;
  display:inline-block;
  font-size: 1rem;
  font-family:'ProximaNova';
  margin-bottom:1rem;
  padding:1rem;
  width: 100%;
  box-sizing: border-box;
}
div.map {
  box-sizing: border-box;
}